/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}


/*--------------------*/

body {
    margin: 0;
    font-family: 'Roboto', 'Montserrat';
    font-size: 23px;
    line-height: 1.2;
    font-weight: 400;
    color: #515151;
    background-color: #ffffff;
}

body.no-scroll {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 15px;
}


/*Header*/

.header {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header.fixed {
    height: auto;
    position: fixed;
    background-color: #fff;
}

.header.fixed .header__inner {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 35px 15px;
}

.header__title {
    font-size: 51px;
    line-height: 56px;
    font-weight: 500;
    color: #4073de;
}

.nav {
    flex-wrap: wrap;
    background-color: #fff;
}

.nav__link {
    font-family: 'Montserrat';
    font-size: 22px;
    line-height: 49px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #000000;
    margin-left: 30px;
    padding: 53px 25px;
    transition-duration: 0.5s;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:last-child {
    padding-right: 30px;
    margin-right: -20px;
}

.nav__link:hover {
    color: #fff;
    background: #aa5cfa;
    background: -moz-radial-gradient(top, ellipse cover, #aa5cfa, #155dd1);
    background: -webkit-linear-gradient(top, #aa5cfa, #155dd1);
    background: -o-linear-gradient(top, #aa5cfa, #155dd1);
    background: -ms-linear-gradient(top, #aa5cfa, #155dd1);
}

.nav__link:focus {
    color: #fff;
    background: #aa5cfa;
    background: -moz-radial-gradient(top, ellipse cover, #aa5cfa, #155dd1);
    background: -webkit-linear-gradient(top, #aa5cfa, #155dd1);
    background: -o-linear-gradient(top, #aa5cfa, #155dd1);
    background: -ms-linear-gradient(top, #aa5cfa, #155dd1);
}

/* Burger */

.burger {
    width: 30px;
    padding: 10px 0;
    display: none;
    font-size: 0;
    color: transparent;
    border: 0;
    background: none;
    cursor: pointer;
    position: absolute;
    top: auto;
    right: 24px;
    z-index: 1;
}

.burger__item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: background .3s linear;
}

.burger.active .burger__item {
    background: none;
}

.burger__item:before,
.burger__item:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: transform .3s linear;
}

.burger__item:before {
    top: -8px;
}

.burger__item:after {
    bottom: -8px;
}

.burger.active .burger__item:before {
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -2px, 0)
}

.burger.active .burger__item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0px, 3px, 0);
}

.header.fixed .nav__link {
    padding: 25px 25px;
}


/* Intro
====================*/

.intro {
    margin-top: 130px;
}

.intro__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* Card
====================*/

.Card__flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.card__colum {
    flex: 0 1 25%;
    padding: 0 10px;
    display: flex;
}

.card__item {
    background-color: #ff9d08;
    -webkit-transition: opacity 0.4s ease, box-shadow .3s linear;
    padding-left: 30px;
    margin: -130px 0 75px 0;
}

.card__item:hover {
    box-shadow: 0px 5px 10px 0px #676767;
    opacity: 0.9;
}

.card__item.item2 {
    background-color: #595de3;
}

.card__item.item3 {
    background-color: #ff2479;
}

.card__item.item4 {
    background-color: #d719e3;
}

.card__title {
    font-family: 'Roboto';
    font-size: 51px;
    line-height: 56px;
    font-weight: 500;
    color: #ffffff;
    padding: 30px 0px 30px 0;
}

.card__text {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1 1 auto;
    font-family: 'Roboto';
    font-size: 23px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}

.card__icon {
    width: 30px;
    height: 40px;
    margin: 0 20px 56px 0;
}

.Card .btn {
    width: 40px;
    height: 40px;
    padding: 5px 5px 40px 5px;
    background: none;
    opacity: 0.7;
    -webkit-transition: opacity 0.8s ease, transform .4s linear;
    box-shadow: none;
}

.Card .btn:hover {
    background: none;
    opacity: 1;
    transition: opacity .2s linear;
    box-shadow: 0px 5px 10px 0px #676767;
    transform: translateY(-1px);
}


/* Shool
====================*/

.Shool__flex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    margin: 20px -10px;
}

.Shool__colum {
    flex: 0 1 50%;
    padding: 0 10px;
    min-height: 150px;
}

.Shool__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Shool__item {
    align-items: center;
    padding: 100px 50px;
}

.Shool__title {
    font-family: Roboto;
    font-size: 51px;
    line-height: 56px;
    font-weight: 500;
    color: #000000;
}

.Shool__text p {
    font-family: Roboto;
    font-size: 23px;
    line-height: 1.2;
    font-weight: 400;
    color: #545454;
    padding: 40px 0px;
}

.btn {
    display: inline-block;
    font-family: Roboto;
    font-size: 23px;
    line-height: 1.2;
    font-weight: 400;
    color: #fefefe;
    max-width: 240px;
    max-height: 80px;
    padding: 26px 60px;
    box-shadow: 0px 5px 10px 0px #676767;
    background: #ff8a00;
    background: -moz-radial-gradient(left, ellipse cover, #ff8a00, #ff304f);
    background: -webkit-linear-gradient(left, #ff8a00, #ff304f);
    background: -o-linear-gradient(left, #ff8a00, #ff304f);
    background: -ms-linear-gradient(left, #ff8a00, #ff304f);
    transition: color .3s linear;
}

.btn:hover {
    color: black;
    background: #ff304f;
    background: -moz-radial-gradient(left, ellipse cover, #ff304f, #ff8a00);
    background: -webkit-linear-gradient(left, #ff304f, #ff8a00);
    background: -o-linear-gradient(left, #ff304f, #ff8a00);
    background: -ms-linear-gradient(left, #ff304f, #ff8a00);
}

.btn:active {
    position: relative;
    top: 3px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}


/* Know More
====================*/

.Know {
    margin-bottom: 60px;
}

.Know__body {
    background-image: url(../img/Know_More/double_click_to_edit.png);
    background-size: cover;
}

.Know__item {
    max-width: 610px;
    background-color: #e01871;
    opacity: 0.9;
    padding: 40px 70px;
}

.Know__title {
    font-family: Roboto;
    font-size: 51px;
    line-height: 56px;
    font-weight: 500;
    color: #ffffff;
    padding-bottom: 50px;
}

.Know__text,
p {
    font-family: Roboto;
    font-size: 23px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    padding-bottom: 50px;
}

.Know__btn {
    font-family: Roboto;
    font-size: 23px;
    line-height: 1.2;
    font-weight: 400;
    color: #000000;
    max-width: 240px;
    max-height: 80px;
    background: #ffffff;
    padding: 18px 45px;
    box-shadow: 0px 5px 10px 0px #676767;
    transition: background .4s linear;
}

.Know__btn:hover {
    background-color: #87d8fa;
    color: currentColor;
}

.Know__btn:active {
    position: relative;
    top: 3px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}


/* Our Events
====================*/

.Events {
    margin-bottom: 160px;
}

.Events__flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.Events__colum {
    flex: 0 1 50%;
    padding: 0 10px;
    min-height: 150px;
}

.Events__item {
    background-color: #ffb716;
}

.block__title {
    font-family: Roboto;
    font-size: 51px;
    line-height: 56px;
    font-weight: 500;
    color: #ffffff;
    margin: 0 40px;
    padding: 40px 0;
}

.block__item {
    background-color: #ffb716;
    padding: 40px 0;
}

.block__subtytle {
    font-family: Roboto;
    font-size: 23px;
    line-height: 56px;
    font-weight: 400;
    color: #ffffff;
    padding: 0 20px;
    margin-left: 60px;
    cursor: pointer;
    position: relative;
    transition: opacity .3s linear;
}

.block__subtytle:after {
    content: "";
    width: 0;
    height: 2px;
    background-color: beige;
    position: absolute;
    bottom: 7px;
    left: 0;
    z-index: 1;
    transition: width .2s linear;
}

.block__subtytle:hover:after {
    width: 83%;
}

.block__subtytle:hover {
    opacity: 0.7;
}

.block__subtytle:before {
    content: "";
    float: left;
    width: 26px;
    height: 26px;
    margin: 8px 25px 0 -40px;
    background: url(../img/Our_Events/ellipse.png);
    position: absolute;
    top: 7px;
    transition: all 0.3s ease 0s;
}

.block__subtytle.active:before {
    opacity: 50%;
    border-radius: 50%;
    transform: rotate(-90deg);
}

.block__text {
    display: none;
    margin: 20px 60px;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
}

.events__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/* Elipse
====================*/

.Elipse__item {
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-top: 30px;
    -webkit-transition: box-shadow .3s linear;
}

.Elipse__item:hover {
    background-color: #fff;
    box-shadow: 0px 5px 10px 0px #676767;
}

.Elipse__title {
    font-family: Roboto;
    font-size: 23px;
    line-height: 34px;
    font-weight: 300;
    color: #515151;
    padding: 25px 30px 40px 30px;
    flex: 1 1 auto;
}

.Elipse__text {
    font-family: Roboto;
    font-size: 34px;
    line-height: 34px;
    font-weight: 400;
    color: #ff6300;
    padding: 0 30px 30px 30px;
}

.Elipse__img-body {
    display: flex;
    justify-content: center;
}

.Elipse__img {
    width: 182px;
    height: 182px;
    border-radius: 50%;
    object-fit: cover;
    margin: -80px 0 0 0;
}


/* Contacts
====================*/

.Contacts {
    margin-bottom: 75px;
}

.Contacts__flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.Contacts__colum {
    flex: 0 1 50%;
    display: flex;
    padding: 0 10px;
    min-height: 150px;
    transition: all 0.3s ease 0s;
}

.Contacts__item {
    background-color: #008ed7;
    padding: 80px 70px 46px 70px;
}

.Contacts__contacts {
    font-family: Roboto;
    font-size: 51px;
    line-height: 56px;
    font-weight: 500;
    color: #ffffff;
    padding-bottom: 30px;
}

.Contacts__adres {
    font-family: Roboto;
    font-size: 23px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
    padding-bottom: 25px;
}

.Contacts__tel__body {
    display: flex;
}

.Contacts__icon1 {
    width: 49px;
    height: 47px;
    background-color: #fff;
    border-radius: 50%;
}

.Contacts__tel__icon {
    padding: 7px 15px;
}

.Contacts__tel {
    font-family: Roboto;
    font-size: 51px;
    line-height: 56px;
    font-weight: 500;
    color: #ffffff;
    padding-bottom: 20px;
    padding-left: 10px;
}

.Contacts__email {
    font-family: Roboto;
    font-size: 23px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
    padding-bottom: 20px;
}

.Contacts__icon {
    display: inline-block;
    width: 49px;
    height: 47px;
    background-color: #fff;
    border-radius: 50%;
}

.Contacts__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.Contacts__colum:hover {
    transform: scale(1.06, 1.06);}
/* Footer
====================*/

.footer {
    text-align: center;
    margin-bottom: 70px;
}

.footer__text {
    opacity: 0.8;
    font-family: Roboto;
    font-size: 23px;
    line-height: 36px;
    font-weight: 300;
    color: #000000;
}


/* Слайдер */

.slider {
    margin-bottom: 100px;
}

/* Лента слайдов */

.slick-track {
    display: flex;
    margin: 70px 0 10px 0;
}

.slick-list {
    overflow: hidden;
}

/* Точки (булиты) */

.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-dots li {
    list-style: none;
    margin: -0 10px 20px 10px;
}


/* Элемент точки */

.slick-dots li button {
    font-size: 0;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    margin-bottom: 30px;
}

.slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid black;
}


/* Burger */

.burger {
    display: none;
    padding: 10px 5px;
    background: none;
    border: 0;
    cursor: pointer;
}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;
    background-color: red;
    font-size: 0;
    color: transparent;
    position: relative;
}

.burger__item:before,
.burger__item:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: red;
}

.burger__item:before {
    top: -8px;
}

.burger__item:after {
    bottom: -8px;
}


/* Modals */

.modal {
    display: none;
    width: 100%;
    height: 100%;
    padding: 15px;
    overflow: auto;
    background-color: rgba(6, 15, 49, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.modal .btn {
    display: inline-block;
    vertical-align: top;
    padding: 16px 24px;
    min-width: 170px;
    border: 1px solid #000;
    border-radius: 25px;
    background: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.1;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transition: background-color .2s linear, color .2s linear, box-shadow .2s linear, border-color .2s linear;
}

.modal .btn:focus {
    outline: none;
}

.modal .btn:hover {
    background-color: black;
    box-shadow: 2px 2px 10px #000;
    color: white;
    border-color: black;
}

.modal.show {
    display: flex;
}

.modal__dialog {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
    background-color: #fff;
    transform: scale(0);
    transition: transform .2s linear;
}

.modal__dialog--sm {
    max-width: 900px;
}

.modal__close {
    width: 34px;
    height: 39px;
    padding: 0;
    background: none;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 14px;
    right: 15px;
    z-index: 1;
    transition: transform .2s linear;
}

.modal__close img {
    width: 30px;
    height: 34px;
}

.modal__close:hover {
    transform: translateY(-3px);
}

.modal__content {
    padding: 75px 15px;
}

.modal__title {
    margin-bottom: 10px;
    font-size: 45px;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
}

.modal__subtitle {
    text-transform: uppercase;
    font-size: 16px;
    color: black;
    font-weight: 400;
}


/* Form
====================*/

.form__group {
    margin-bottom: 26px;
}

.form__label {
    display: inline-block;
    margin-bottom: 11px;
    font-size: 13px;
    color: black;
    font-weight: 700;
}

.form__input,
.form__textarea {
    display: block;
    width: 100%;
    padding: 20px 25px;
    border: 1px solid #707070;
    border-radius: 26px;
    font-family: inherit;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 300;
    color: black;
}

.form__input,
.form__textarea:focus {
    outline: none;
    border-color: #36abc7;
}

.form__input,
.form__textarea::placeholder {
    color: black;
}

.form__textarea {
    height: 200px;
    resize: none;
}


/* Contact
====================*/

.contact {
    display: flex;
}

.contact__left {
    width: 47%;
    padding: 30px;
}

.contact__info {
    margin: 30px 0 45px;
    padding: 0;
    list-style: none;
    font-size: 14px;
    color: black;
    font-weight: 300;
}

.contact__info-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.contact__info-item:last-child {
    margin-bottom: 0;
}

.contact__info-icon {
    width: 23px;
    height: auto;
    margin-right: 12px;
}


/* Animation
====================*/

.botom__animation {
    opacity: 0;
    transform: translateY(20px);
}

.botom__animation.element-show {
    opacity: 1;
    transition: all 0.5s linear;
    transform: translateY(0%);
}

.botom__animation_2 {
    opacity: 0;
    transform: translateY(20px);
}

.botom__animation_2.element-show {
    opacity: 1;
    transition: all 0.5s linear 0.2s;
    transform: translateY(0%);
}

.botom__animation_3 {
    opacity: 0;
    transform: translateY(20px);
}

.botom__animation_3.element-show {
    opacity: 1;
    transition: all 0.5s linear 0.4s;
    transform: translateY(0%);
}

.botom__animation_4 {
    opacity: 0;
    transform: translateY(20px);
}

.botom__animation_4.element-show {
    opacity: 1;
    transition: all 0.5s linear 0.6s;
    transform: translateY(0%);
}

.left__animation {
    opacity: 0;
    transform: translateX(-100px);
}

.left__animation.element-show {
    opacity: 1;
    transition: all 0.5s linear;
    transform: translateX(0%);
}

.left__animation_2 {
    opacity: 0;
    transform: translateX(-100px);
}

.left__animation_2.element-show {
    opacity: 1;
    transition: all 0.5s linear 0.1s;
    transform: translateX(0%);
}

.left__animation_3 {
    opacity: 0;
    transform: translateX(-100px);
}

.left__animation_3.element-show {
    opacity: 1;
    transition: all 0.5s linear 0.2s;
    transform: translateX(0%);
}

.left__animation_4 {
    opacity: 0;
    transform: translateX(-100px);
}

.left__animation_4.element-show {
    opacity: 1;
    transition: all 0.5s linear 0.3s;
    transform: translateX(0%);
}

.left__animation_5 {
    opacity: 0;
    transform: translateX(-100px);
}

.left__animation_5.element-show {
    opacity: 1;
    transition: all 0.5s linear 0.4s;
    transform: translateX(0%);
}

.left__animation_6 {
    opacity: 0;
    transform: translateX(-100px);
}

.left__animation_6.element-show {
    opacity: 1;
    transition: all 0.5s linear 0.5s;
    transform: translateX(0%);
}


/* Media
====================*/

@media (max-width: 1210px) {
    .header.fixed .nav__link {
        margin: 0 10px;
        padding: 23px 10px;
    }
    .nav__link {
        margin-left: 10px;
        padding: 53px 10px;
    }
    .header.fixed {
        opacity: 0.9;
    }
    .Card {
        z-index: 2;
        margin-bottom: -130px;
    }
    .card__colum {
        flex: 0 1 50%;
        padding: 10px 10px;
    }
    .card__item {
        margin: -130px 0 130px 0;
    }
    .Elipse__colum {
        flex: 0 1 50%;
        padding: 70px 10px;
    }
}

@media (max-width: 991px) {
    body.no-scroll {
        overflow: auto;
    }
    .header {
        position: fixed;
        opacity: 0.9;
    }
    .header.fixed .nav__link {
        margin-left: 10px;
        padding: 15px 10px;
    }
    .header.fixed .nav__link:first-child {
        margin-top: 30px;
    }
    .nav {
        position: fixed;
        width: 50%;
        flex-direction: column;
        height: 100%;
        max-height: 800px;
        overflow: auto;
        opacity: 0.9;
        top: 0;
        right: -100%;
        transition: all 0.5s ease 0s;
    }
    .nav.active {
        display: block;
        right: 0;
    }
    .nav__link {
        display: block;
        font-size: 30px;
        text-align: center;
        font-weight: 700;
        margin: 20px;
        padding: 15px 5px;
    }
    .burger {
        display: block;
    }
    .intro__body {
        position: relative;
        padding-top: 56.25%;
    }
    .intro__image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
    }
    .card__colum {
        flex: 0 1 50%;
        padding: 10px 10px;
    }
    .card__title {
        font-size: 35px;
        line-height: 40px;
        padding: 20px 30px 10px 0;
    }
    .card__text {
        font-size: 20px;
        line-height: 1.2;
        padding-bottom: 15px;
    }
    .card__icon {
        width: 30px;
        height: 40px;
        margin: 10px 20px 0px 20px;
    }
    .contact__left {
        width: 70%;
    }
}

@media (max-width: 767px) {
    body.no-scroll {
        overflow: hidden;
    }
    .nav {
        position: fixed;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        flex-direction: column;
        opacity: 0.9;
        top: 0;
        right: -100%;
        transition: all 0.5s ease 0s;
    }
    .card__colum {
        flex: 0 1 100%;
    }
    .btn {
        padding: 16px 80px;
    }
    .Shool__colum {
        flex: 0 1 100%;
        padding: 0 10px;
        min-height: 150px;
    }
    .Shool__item {
        align-items: center;
        padding: 20px 20px;
    }
    .Shool__title {
        font-size: 40px;
        line-height: 1.1;
        margin-top: 30px;
    }
    .Shool__text p {
        padding: 15px 0px;
    }
    .Know {
        margin-bottom: 20px;
    }
    .Know__title {
        font-size: 40px;
        line-height: 44px;
        padding-bottom: 30px;
    }
    .Events {
        margin-bottom: 100px;
    }
    .Events__colum {
        flex: 0 0 100%;
        padding: 10px 10px;
    }
    .block__title {
        font-size: 35px;
        line-height: 38px;
        text-align: center;
        margin: 0 10px;
        padding: 20px 0;
    }
    .block__item {
        background-color: #ffb716;
        padding: 15px 0;
    }
    .block__subtytle {
        font-size: 22px;
        line-height: 1.4;
        padding: 8px 20px;
        margin-left: 25px;
    }
    .block__subtytle:before {
        margin: 0 35px 0 -35px;
    }
    .block__text {
        margin: 10px 30px;
        font-size: 16px;
    }
    .Elipse__item {
        margin-top: 15px;
    }
    .slider {
        margin-bottom: 10px;
    }
    .Contacts {
        margin: 0 0 15px 0;
    }
    .Contacts__colum {
        flex: 1 1 100%;
        padding: 10px 10px;
    }
    .Contacts__item,
    .Contacts__item1 {
        width: 100%;
        height: auto;
    }
    .Contacts__contacts {
        font-size: 40px;
        line-height: 1.2;
        padding-bottom: 20px;
    }
    .Contacts__tel {
        margin-left: -12px;
    }
    .footer {
        margin: 20px;
    }
    .footer__text {
        font-size: 18px;
        line-height: 28px;
    }
    .contact__left {
        width: 100%;
    }
    .modal__title {
        font-size: 30px;
    }
    
    .modal .btn {
        max-width: 100%;
    }
}

@media (max-width: 591px) {
    .header__inner {
        padding: 20px 0 20px 15px;
    }
    .header__title {
        font-size: 40px;
        line-height: 44px;
    }
    .intro {
        margin: 70px 0 35px 0; 
    }
    .card__title {
        font-size: 26px;
        line-height: 28px;
        padding: 15px 0px 5px 0;
    }
    .Know__text, p {
        font-size: 15px;
        line-height: 1.2;
        padding-bottom: 0px;
    }
    .Card__flex {
        margin: -40px -10px 30px -10px;
    }
    .card__colum {
        padding: 0px 5px;
    }
    .card__item {
        margin: -60px 0 65px 0;
    }
    .Shool__title {
        font-size: 28px;
        line-height: 30px;
        margin-top: 60px;
    }
    .Shool__title-bottom {
        margin-top: 25px;
    }
    .Shool__text {
        font-size: 16px;
        padding: 0;
    }
    .Shool__text p {
        font-size: 16px;
    }
    .Shool__item {
        padding: 20px 0 0 0;
    }
    .btn {
        width: 100%;
        font-size: 20px;
        line-height: 1.2;
        padding: 16px 30px;
    }
    .Know__item {
        padding: 40px 40px;
    }
    .Know__title {
        font-size: 28px;
        line-height: 32px;
        padding-bottom: 10px;
    }
    .Know__text p {
        margin-bottom: 10px;
    }
    .Know__btn {
        width: 100%;
        padding: 12px 0px;
    }
    .Elipse {
        margin-bottom: 30px;
    }
    .block__title {
        font-size: 28px;
        line-height: 30px;
        padding: 10px 0 0 0;
    }
    .block__subtytle {
        font-size: 15px;
        line-height: 1.2;
        padding: 8px 20px;
        margin-left: 20px;
    }
    .Events {
        margin-bottom: 20px;
    }
    .slider {
        margin-bottom: 0px;
    }
    .Elipse__title {
        font-size: 18px;
        line-height: 24px;
        padding: 15px 5px 15px 5px;
    }
    .Elipse__text {
        font-size: 28px;
        line-height: 30px;
        text-align: center;
        padding: 0 5px 15px 5px;
    }
    .slick-list {
        margin-bottom: -15px;
    }
    .slick-dots li button {
        width: 12px;
        height: 12px;
        margin-bottom: 0px;
    }
    .Contacts__item {
        padding: 20px;
    }
    .Contacts__contacts {
        font-size: 30px;
        padding-bottom: 10px;
    }
    .Contacts__adres {
        font-size: 15px;
        line-height: 22px;
        padding-bottom: 12px;
    }
    .Contacts__icon1 {
        display: none;
    }
    .Contacts__tel {
        font-size: 22px;
        line-height: 24px;
        padding-bottom: 5px;
    }
    .Contacts__email {
        font-size: 16px;
        line-height: 18px;
        padding-bottom: 15px;
    }
    .Contacts__icon {
        width: 29px;
        height: 27px;
    }
    .nav {
        width: 100%;
    }
    .nav__link {
        padding: 5px 10px;
    }
    .footer {
        margin: 0;
    }
    .footer__text {
        font-size: 14px;
        line-height: 16px;
    }
}

@media (max-width: 420px) {
    .card__item {
        margin: -20px 0 25px 0;
    }
    .Card__flex {
        margin: -40px -10px 15px -10px;
    }
   }
    .Shool__item1 {
        margin-top: 35px;
    }
}
